* {
    margin:0;
    padding: 0;
}

header, #content-up, #content-below, #cb-top {width: 100%;}

header {
    height: 100px;
    background-color: #e879e5;
}

#content-up {
    height: 500px;
    background-color: #e1d67c;
    margin: 1% 0;
}

#content-below {
    height: 500px;
    background-color: #0086f9;
    padding-bottom: 16px;
    margin-bottom: 16px;

}

#cb-top {
    height: 100px;
    background-color: #a9cfe7;
    margin-bottom: 16px;
}

#cb-top::after {
    content:"";
    display: table;
    clear: both;
}

#bx-sx {float: left;}
#bx-dx {float: right;}

.left, .center, .right {
    height: 384px;
    background-color: #a9cfe7;
}
.center {
    float: left;
    width: 76%;
    margin: 0 2%;
}

.left, .right {
    width: 10%;
    
}

footer {
    height: 80px;
    background-color:#8b01fd;
}